main {
  width: 100vw;
  height: 90vh;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover > img {
  height: 70vh;
  width: calc(70vh / 1.5);
  position: absolute;
  top: 20vh;
  object-fit: cover;
}

.cover > h1 {
  position: relative;
  color: var(--cover-text);
  width: calc(70vh / 1.5);
  margin-bottom: 45vh;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 3.5rem;
}

.cover > p {
  position: relative;
  background-color: #653278ae;
  width: calc(70vh / 1.5);
  text-align: center;
  color: var(--cover-text);
}
